* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 95vh;
  background-image: url("../images/feedback-page-background.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

h2 {
  font-family: var(--main-font);
  margin-top: 150px;
  font-size: 30px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 450px;
  background: rgba(0, 0, 0,0.6);
  padding: 30px 40px;
  border-radius: 10px;
  gap: 20px;
}


form label {
  color: var(--white);
  font-family: var(--description-font);
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-family: var(--description-font);
}

input:focus, textarea:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.4);
}

textarea {
  height: 120px;
  resize: none;
}

.submit-container {
  width: 100%;
}

.submit {
  display: block;
  margin: 0 auto;
  font-family: var(--description-font);
  font-size: 16px;
  width: 100%;
  padding: 12px;
  background: var(--red);
  color: var(--white);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.submit:hover {
  opacity: 0.85;
}

.responseMessage {
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  background-color: rgba(0, 0, 0,0.6);
  border-radius: 10px;
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: var(--white);
  font-family: var(--description-font);
  font-size: 18px;
  padding: 20px 30px;
}